<div class="container container-liga">
  <ul class="container-liga-gen">
    <li class="contentCalendar" *ngFor="let calendars of calendar ; let i = index">
      <div class="row content-row">

        <div class="col-xs-12 col-sm-4 col-md-2 imx-date">{{calendar[i].matchInfo.date}} </div>
        <div class="col-xs-2 col-sm-1 col-md-1 logo1">
          <img src="http://cdn2.excelsior.imagendigital.com/adrenalina/torneos/liga-mx/escudos/{{calendar[i].matchInfo.contestant[0].name | lowercase | guionPipe}}.png" alt="{{calendar[i].matchInfo.contestant[0].name}}" title="{{calendar[i].matchInfo.contestant[0].name}}">
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs hidden-sm matchInfo-contestant" id="imx-nombre-equipo-ligamx-{{calendar[i].matchInfo.contestant[0].name | guionPipe}}">
          <!--  {{calendar[i].matchInfo.contestant[0].name | guionPipe}} -->
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 imx-matchDetails"  *ngIf="calendar[i].liveData.matchDetails.scores.total">
          {{calendar[i].liveData.matchDetails.scores.total.home}}
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 imx-matchDetails"  *ngIf="!calendar[i].liveData.matchDetails.scores.total">--</div>

        <div class="col-xs-2 col-sm-1 col-md-1 vsMatch"></div>
        <div class="col-xs-2 col-sm-1 col-md-1 imx-matchDetails"  *ngIf="calendar[i].liveData.matchDetails.scores.total">
          {{calendar[i].liveData.matchDetails.scores.total.away}}
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 imx-matchDetails"  *ngIf="!calendar[i].liveData.matchDetails.scores.total">--</div>
        <div class="col-xs-2 col-sm-1 col-md-1 hidden-xs hidden-sm matchInfo-contestant" id="imx-nombre-equipo-ligamx-{{calendar[i].matchInfo.contestant[0].name | guionPipe}}">
          <!--  {{calendar[i].matchInfo.contestant[1].name | guionPipe}} -->
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1 logo2">
          <img src="http://cdn2.excelsior.imagendigital.com/adrenalina/torneos/liga-mx/escudos/{{calendar[i].matchInfo.contestant[1].name | lowercase | guionPipe}}.png" alt="{{calendar[i].matchInfo.contestant[1].name}}" title="{{calendar[i].matchInfo.contestant[1].name}}">
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2 shortTimeEvent">{{calendar[i].matchInfo.time | date:"shortTime"}}</div>


      </div>
    </li>
  </ul>
</div>

<div class="imx-banner-liga-mx">
  <span class="imx-sprite-liga-mx" id="banner-liga-mx-btn">
    <span class="imx-link-nfl-excelsior">
      <a target="_blank" href="http://www.excelsior.com.mx/"></a>
    </span>
    <span class="imx-link-nfl-adrenalina">
      <a target="_blank" href="http://www.excelsior.com.mx/adrenalina"></a>
    </span>
  </span>
</div>
