@media(min-width:50px) and (max-width: 349px){
  .contentCalendar{
    background: none !important;
  }
  .logo1{
    margin-left: -5px;
    margin-top:10px;
  }
  .logo2{
    margin-top:10px;
  }
  .imx-matchDetails{
    margin-left:10px;
  }
  .shortTimeEvent{
    font-weight: bold;
    margin-bottom:15px;
    text-align:center !important;
  }
  .imx-date{
      text-align:center;
  }
}

@media(min-width:350px) and (max-width: 374px){
  .shortTimeEvent{
    padding-top: 5px !important;
    padding-bottom: 10px;
    font-weight: bold;
    margin-top:15px;
      text-align:center !important;
  }
  .contentCalendar{
    background: none !important;
    font-weight: bold;
  }
  .logo1{
    margin-left: 15px;
    margin-top: 10px;
  }
  .logo2{

    margin-top: 10px;
  }
  .imx-date{
    text-align:center;
  }
}

@media(min-width:375px) and (max-width: 413px){
  .shortTimeEvent{
    margin-bottom: 15px;
    font-weight: bold;
      text-align:center !important;
  }
  .contentCalendar{
    background: none !important;
    font-weight: bold;
  }
  .logo1{
    margin-left:26px;
    margin-top:10px;
  }
  .logo2{
    margin-top:10px;
  }
  .imx-date{
    text-align:center;
  }
}

@media(min-width:414px) and (max-width: 768px){
  .shortTimeEvent{
    margin-bottom: 15px;
    font-weight: bold;
    padding-bottom: 15px;
      text-align:center !important;
  }
  .contentCalendar{
    background: none !important;
    font-weight: bold;
  }
  .logo1{
    margin-left:43px;
    padding-top: 10px;
  }
  .logo2{
    padding-top: 10px;
  }
  .imx-date{
    padding-top: 10px;
    text-align:center;
  }
}

@media(min-width:769px) and (max-width:992px){
  .shortTimeEvent{
    width:110px
  }
  .contentCalendar{
    margin-left: 27px;
    margin-bottom: 15px;
    background:none!important;
    padding-top: 0 !important;
  }
  .imx-matchDetails{
    margin-left: 10px;
  }
  .imx-date{
    padding-top: 15px;
    text-align: center;
  }
  .logo1{
    padding-top: 10px;
  }
  .logo2{
    padding-top: 10px;
  }
}

@media(min-width:993px){
  .contentCalendar{
    margin-left: 30px;
    margin-bottom: 15px;
  }
  .shortTimeEvent{
    width:114px;
  }
}

@media(min-width:1200px){}
  div.container.container-liga > ul{
    padding:0;
  }
  .shortTimeEvent{
    padding-top:10px;
  }
  .container-liga{
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color:white;
    background: #450c13 url('http://a4abc406deb0a8793cfc-8f09eb7e0d12d12e8088bd883ec972c9.r81.cf2.rackcdn.com/background-ligaMX-pages-full.jpg') no-repeat;
  }
  .contentCalendar{
    background: url('http://a4abc406deb0a8793cfc-8f09eb7e0d12d12e8088bd883ec972c9.r81.cf2.rackcdn.com/sprites/design-2017/sprite-adrenalina-360-LigaMX-pages-full-4.png') no-repeat;
    /*margin:19px 0;*/
    list-style:none;
    background-position: -22px -301px !important;
    padding-top: 0px;

  }
  .container-liga-gen{
    margin-top:30px;

  }
  .vsMatch{
    width: 70px;
    background-position: -42px -438px!important;
    background: url('http://a4abc406deb0a8793cfc-8f09eb7e0d12d12e8088bd883ec972c9.r81.cf2.rackcdn.com/sprites/design-2017/sprite-adrenalina-360-LigaMX-pages-full-4.png') no-repeat;
    height: 55px;
  }

  .imx-matchDetails{
    padding-top: 11px;
    font-size: 32px;
    background: url('http://a4abc406deb0a8793cfc-8f09eb7e0d12d12e8088bd883ec972c9.r81.cf2.rackcdn.com/sprites/design-2017/sprite-adrenalina-360-LigaMX-pages-full-4.png') no-repeat;
    text-align:center;
    width: 60px;
    background-position: -20px -378px;
    height: 53px;
  }
  .matchInfo-contestant{
    display: block;
    width: 140px;
    height: 50px;
    margin: 0 auto;
    text-align:center;
    background: url('http://a4abc406deb0a8793cfc-8f09eb7e0d12d12e8088bd883ec972c9.r81.cf2.rackcdn.com/sprites/design-2017/sprite-adrenalina-360-LigaMX-pages-full-4.png') no-repeat;
    height: 50px;
  }
.imx-date .logo1 .logo2 .vsMatch .shortTimeEvent{
    text-align:center !important;
  }
  div.col-xs-2.col-sm-1.col-md-1.logo1 > img {
    height: 40px !important;
    width: 40px !important;
  }
  div.col-xs-2.col-sm-1.col-md-1.logo2 > img {
    height: 40px !important;
    width: 40px !important;
  }



  #imx-liga-mx-escudo-item-america:hover{ background-position: -19px -13px; }
  #imx-liga-mx-escudo-item-chiapas:hover{ background-position: -54px -13px; }
  #imx-liga-mx-escudo-item-cruz-azul:hover{ background-position: -90px -13px; }
  #imx-liga-mx-escudo-item-morelia:hover{  background-position: -123px -13px; }
  #imx-liga-mx-escudo-item-queretaro:hover{  background-position: -157px -12px; }
  #imx-liga-mx-escudo-item-veracruz:hover{ background-position: -192px -14px; }
  #imx-liga-mx-escudo-item-atlas:hover{  background-position: -229px -14px; }
  #imx-liga-mx-escudo-item-santos:hover{  background-position: -263px -12px; }
  #imx-liga-mx-escudo-item-leon:hover{  background-position: -298px -12px }

  #imx-liga-mx-escudo-item-monterrey:hover{ background-position: -332px -12px;}
  #imx-liga-mx-escudo-item-pachuca:hover{  background-position: -367px -11px; }
  #imx-liga-mx-escudo-item-puebla:hover{ background-position: -401px -12px; }
  #imx-liga-mx-escudo-item-guadalajara:hover{ background-position: -434px -11px; }
  #imx-liga-mx-escudo-item-toluca:hover{ background-position: -468px -11px; }
  #imx-liga-mx-escudo-item-tigres:hover{ background-position: -504px -11px; }
  #imx-liga-mx-escudo-item-tijuana:hover{ background-position: -540px -11px; }
  #imx-liga-mx-escudo-item-pumas:hover{ background-position: -574px -11px; }
  #imx-liga-mx-escudo-item-leones-negros:hover{ background-position: -612px -11px; }

  #imx-liga-mx-escudo-item-dorados:hover{ background-position: -648px -12px; }
  #imx-liga-mx-escudo-item-necaxa:hover{ background-position: -688px -12px; }

  #imx-liga-mx-escudo-item-america{ background-position: -19px -54px; }
  #imx-liga-mx-escudo-item-chiapas{ background-position: -54px -54px; }
  #imx-liga-mx-escudo-item-cruz-azul{ background-position: -90px -54px; }
  #imx-liga-mx-escudo-item-morelia{  background-position: -123px -54px; }
  #imx-liga-mx-escudo-item-queretaro{  background-position: -157px -53px; }
  #imx-liga-mx-escudo-item-veracruz{ background-position: -192px -55px; }
  #imx-liga-mx-escudo-item-atlas{  background-position: -229px -55px; }
  #imx-liga-mx-escudo-item-santos{  background-position: -263px -53px; }
  #imx-liga-mx-escudo-item-leon{  background-position: -298px -53px }

  #imx-liga-mx-escudo-item-monterrey{ background-position: -332px -53px;}
  #imx-liga-mx-escudo-item-pachuca{  background-position: -367px -52px; }
  #imx-liga-mx-escudo-item-puebla{ background-position: -401px -53px; }
  #imx-liga-mx-escudo-item-guadalajara{ background-position: -434px -52px; }
  #imx-liga-mx-escudo-item-toluca{ background-position: -468px -52px; }
  #imx-liga-mx-escudo-item-tigres{ background-position: -504px -52px; }
  #imx-liga-mx-escudo-item-tijuana{ background-position: -540px -52px; }
  #imx-liga-mx-escudo-item-pumas{ background-position: -574px -52px; }
  #imx-liga-mx-escudo-item-leones-negros{ background-position: -612px -52px; }

  #imx-liga-mx-escudo-item-dorados{ background-position: -648px -54px }
  #imx-liga-mx-escudo-item-necaxa{ background-position: -688px -51px }

  #imx-nombre-equipo-ligamx-america{ background-position: 3px -507px !important;} /* America */
  #imx-nombre-equipo-ligamx-guadalajara{background-position: 16px -982px !important;} /* Chivas */
  #imx-nombre-equipo-ligamx-tijuana{background-position: 19px -1101px !important;} /* Tijuana */
  #imx-nombre-equipo-ligamx-toluca{background-position: 14px -1023px !important;} /* Toluca */
  #imx-nombre-equipo-ligamx-tigres-uanl{background-position: 14px -1061px !important;} /* Tigres */
  #imx-nombre-equipo-ligamx-pumas-unam{background-position: 13px -1141px !important;} /* pumas */
  #imx-nombre-equipo-ligamx-leones-negros{background-position: -21px -1178px !important;} /* Leones Negros */
  #imx-nombre-equipo-ligamx-leon{background-position: 22px -823px !important;} /* Leon */
  #imx-nombre-equipo-ligamx-santos-laguna{background-position: 10px -784px !important;} /* Santos */
  #imx-nombre-equipo-ligamx-chiapas{background-position: 0px -549px !important;} /* Jaguares */
  #imx-nombre-equipo-ligamx-cruz-azul{background-position: -5px -588px !important;} /* Cruz Azul */
  #imx-nombre-equipo-ligamx-morelia{background-position: -3px -633px !important;} /* Monarcas */
  #imx-nombre-equipo-ligamx-querétaro{ background-position: 10px -666px !important; 	} /* Gallos */
  #imx-nombre-equipo-ligamx-veracruz{background-position: -5px -706px !important;} /* Veracruz */
  #imx-nombre-equipo-ligamx-atlas{background-position: 16px -746px !important;} /* Atlas */
  #imx-nombre-equipo-ligamx-monterrey{background-position: -13px -864px !important;} /* Monterrey */
  #imx-nombre-equipo-ligamx-pachuca{background-position: 0px -903px !important;} /* Pachuca */
  #imx-nombre-equipo-ligamx-puebla{background-position: 9px -942px !important;} /* Puebla */
  #imx-nombre-equipo-ligamx-dorados{ background-position: 15px -1537px !important; }
  #imx-nombre-equipo-ligamx-necaxa{ background-position: -290px -507px !important;  }/*Necaxa*/
  #imx-nombre-equipo-ligamx-0{ background-position: 0 50px !important; }
