.content-sub-menu-channel {
  width: 100%;
  margin-bottom: 5px;
}

.sub-menu-channel {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 10px 0;
}

.sub-content-row {
  display: table-row;
  width: 100%;
}

.row-cell {
  display: table-cell;
}

.row-cell a {
  color: #ffffff;
  text-decoration: none;
  font: 14px/30px 'Titillium Web',sans-serif;
  font-weight: bold;
  background: #e21e26;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 98%;
  display: block;
  text-transform: uppercase;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
