<div class="container">
  <section class="left content-sub-menu-channel">

  <div id="" class="sub-menu-channel">

  	<div class="sub-content-row">

  		<div class="row-cell">
  		    <a [routerLink]="['Calendar']"> Calendario </a>
  		</div>

  		<div class="row-cell">
  		  <a [routerLink]="['ranking']"> Tabla general </a>
  		</div>

<!--  		<div class="row-cell">
      		<a href="/adrenalina/liga-mx/goleadores"> Goleadores </a>
  		</div>

  		<div class="row-cell">
  		     <a href="/adrenalina/liga-mx/descenso"> Descenso </a>
  		</div>
-->
  	</div>

  </div>

  </section>

</div>
